
body {
  background: #ffccff;
  font-family: arial;
  
}
h1 {
    text-shadow: 2px 2px #cc99ff;
    text-align: center;
    position: 20px;
    border: 5px groove;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
}

h2 {
  text-indent: 50px;
  font-family: Courier;
}
