h1{
  color: #000000;
  text-align: center;
  font-family: arial;
}

.button1 {
  margin: 20px;
}

.button2 {
  margin: 20px;
}

.button3 {
  margin: 20px;
}

.button4 {
  margin: 20px;
}

.button5 {
  margin: 20px;
}

.button6 {
  margin: 20px;
}

.button7 {
  margin: 20px;
}

.button8 {
  margin: 20px;
}

.button:hover {
  background-color: #555;
  color:white;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
  color: #9900cc
  padding: 30px;
}

